
Exp_3/train.csv
Exp_4/cifar-10-batches-py/batches.meta
Exp_4/cifar-10-batches-py/data_batch_1
Exp_4/cifar-10-batches-py/data_batch_2
Exp_4/cifar-10-batches-py/data_batch_3
Exp_4/cifar-10-batches-py/data_batch_4
Exp_4/cifar-10-batches-py/data_batch_5
Exp_4/cifar-10-batches-py/readme.html
Exp_4/cifar-10-batches-py/test_batch
